<!-- CONTAINER -->
<div class="container mx-auto px-4 overflow-hidden">
  <!-- ROW -->
  <div class="flex flex-wrap -mx-2">
    @for (item of items(); track item.id) {
      <!-- COLS -->
      <!-- 
        w-full     = 1 por fila (hasta md)
        md:w-1/2   = 2 por fila (desde 768px)
        lg:w-1/3   = 3 por fila (desde 1024px)
        xl:w-1/4   = 4 por fila (desde 1280px)
      -->
      <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 px-2 mb-4 flex">
        <!-- Agregamos w-full para que el componente ocupe todo el ancho de su columna flex -->
        <product-card [product]="item" class="w-full"></product-card>
      </div>
    }
  </div>
</div>
